@model ErrorViewModel
@{
    ViewData["Title"] = "Index";
}


<div style="text-align: center">
    <h1>@Model.ShowRequestId</h1>
    <h1 class="text-dark">Something unexpected happened...</h1>
    <div><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
    <img src="~/images/Oops.png">
</div>

