@{
    ViewData["Title"] = "PageNotFound";
}

<main class="padding text-white">
    <div class="container-fluid d-flex align-items-center justify-content-center" id="access-denied">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-12">
                <h1 class="text-danger">The requested page is missing</h1>
                <hr class="my-3">
                <img src="~/images/PageNotFound.png" alt="PageNotFound"/>
            </div>
        </div>
    </div>
</main>

