@model TransactionsViewModel
@{
    ViewData["Title"] = "Index";
}

<main class="text-dark d-flex justify-content-center text-center" id="transactions-management">
    <div class="container " id="transactions-container">
        <partial name="_TransactionsTablePartial" model="Model" />
    </div>
</main>

@section Scripts{
    <script src="~/js/transactions.js"></script>
}