

<li class="ml-auto"><a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-white text-dark rounded">Register<i class="fa fa-id-badge ml-2"></i></a></li>
<li class="phoneSizeMargin"><a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-outline-white rounded">Log in<i class="fa fa-sign-in ml-2"></i></a></li>
