@model User

<li>
    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @Model.UserName!</a>
</li>
<li>
    <button type="submit" class="btn btn-white text-dark rounded">Log out<i class="fa fa-sign-out ml-2"></i></button>
</li>
