@model WalletViewModel
@{
    ViewData["Title"] = "GameThree";
}

<main class="text-dark" id="third-game-management">
    <div class="container game-rules-container text-center">
        <div class="row">
            <div class="col-8 game-container">
                <partial name="_GameThreePartial" model="Model" />
            </div>
            <div class="col-4">
                <h6 class="m-0 font-weight-bold">General Rules</h6>
                <div class="rules">
                    <table class="rules-table">
                        <tr>
                            <td class="p-2">
                                <img src="~/images/@(GameResults.Apple + ".png")" alt="@GameResults.Banana" class="fruit-icon" />
                            </td>
                            <td class="p-2">
                                <i class="fa fa-arrow-right fa-2x"></i>
                            </td>
                            <td class="p-2">
                                <p class="font-weight-bold text-center m-0 rules-table-percentage">0.4 %</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <img src="~/images/@(GameResults.Banana + ".png")" alt="@GameResults.Banana" class="fruit-icon" />
                            </td>
                            <td class="p-2">
                                <i class="fa fa-arrow-right fa-2x"></i>
                            </td>
                            <td class="p-2">
                                <p class="font-weight-bold text-center m-0 rules-table-percentage">0.6 %</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <img src="~/images/@(GameResults.Pineapple + ".png")" alt="@GameResults.Pineapple" class="fruit-icon" />
                            </td>
                            <td class="p-2">
                                <i class="fa fa-arrow-right fa-2x"></i>
                            </td>
                            <td class="p-2">
                                <p class="font-weight-bold text-center m-0 rules-table-percentage">0.8 %</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-2">
                                <img src="~/images/@(GameResults.Wildcard + ".png")" alt="@GameResults.Wildcard" class="fruit-icon" />
                            </td>
                            <td class="p-2">
                                <i class="fa fa-arrow-right fa-2x"></i>
                            </td>
                            <td class="p-2">
                                <p class="font-weight-bold text-center m-0 rules-table-percentage">0.0 %</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <p class="m-0 font-weight-bold rules-table-description">Sum the % of the winning rows and multiply them by the stake</p>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script src="~/js/gameone.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}