@model TransactionHistoryViewModel
@{
    ViewData["Title"] = "Profile";
}


<main class="text-dark d-flex justify-content-center text-center" id="transactions-history-management">
    <div class="container" id="transactions-history-container">
        <partial name="_TransactionHistoryTablePartial" model="Model" />
    </div>
</main>

@section Scripts {
    <script src="~/js/transactionhistory.js"></script>
}
