@model ItsAllAboutTheGame.Models.TransactionViewModels.AddCardViewModel

@{
    ViewData["Title"] = "AddCard";
}

<h2>Add new card</h2>



<header class="padding" style="padding:100px"></header>
<hr />


<div class="row">
    <div class="col-md-4">
        <form  asp-controller="Transaction" asp-action="AddCard" method="post">
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVV" class="control-label"></label>
                <input asp-for="CVV" class="form-control" />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ExpiryDate"></label>
                <input asp-for="ExpiryDate" type="date" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Deposit">Back to List</a>
</div>

@section Scripts{
    <script src="~/js/addcard.js"></script>
}