@model ItsAllAboutTheGame.Models.TransactionViewModels.NewDepositViewModel

@{
    ViewData["Title"] = "Index";
}

<div>
    @await Html.PartialAsync("_DepositPartial", Model);
</div>

@section Scripts{
    <script src="~/js/deposit.js"></script>
    <script src="~/js/withdraw.js"></script>
    <script src="~/js/userdeposit.js"></script>
    @*@await Html.PartialAsync("_ValidationScriptsPartial")*@
}

