@model ItsAllAboutTheGame.Models.TransactionViewModels.NewDepositViewModel

@{
    ViewData["Title"] = "Index";
}

<div>
    @await Html.PartialAsync("_DepositPartial", Model);
</div>

@section Scripts{
    <script src="~/js/deposit.js"></script>
    <script src="~/js/usercards.js"></script>
}

