@model ItsAllAboutTheGame.Models.TransactionViewModels.NewDepositViewModel

@{
    ViewData["Title"] = "Index";
}


<div>
    @await Html.PartialAsync("_DepositPartial", Model);
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{
    <script src="~/js/deposit.js"></script>
}

