@model UserInfoViewModel

<li class="ml-auto home-view-color">
    <div id="balance-section">
        <span id="user-balance">Current balance:</span>@Model.Balance @Model.CurrencySymbol
    </div>
</li>
<li>
    <button asp-area="" asp-controller="Manage" asp-action="Index" type="submit" class="btn btn-outline-cyan rounded font-weight-bold home-view-color">@Model.Username</button>
</li>
<li>
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm"><button type="submit" class="btn btn-white text-dark rounded">Log out<i class="fa fa-sign-out ml-2"></i></button></form>
</li>
