@model UsersViewModel

@{
    ViewData["Title"] = "Index";
}

<main class="text-dark d-flex justify-content-center text-center" id="users-management">
    <div class="container " id="users-container">
        <table class="table text-nowrap m-0" id="users-table">
            <thead>
                <tr>
                    @foreach (var property in Model.Properties)
                    {
                        <th>@property</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        @foreach (var property in user.GetType().GetProperties())
                        {
                            if (property.Name == "Deleted")
                            {
                                <td>
                                    <form id="comment-form" asp-action="Delete" asp-controller="Users" asp-route-username="@user.UserName" method="post">
                                        @if (property.GetValue(user).ToString() == "true")
                                        {
                                            <input type="checkbox" checked>
                                        }
                                        else
                                        {
                                            <input type="checkbox">
                                        }
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td class="font-weight-bold">@property.GetValue(user)</td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>


