@model UsersViewModel

@{
    ViewData["Title"] = "Index";
}

<main class="wow fadeIn slow text-dark d-flex justify-content-center text-center initially-hidden" id="users-management">
    <div class="container " id="users-container">
        <partial name="_UsersTablePartial" model="Model" />
    </div>
</main>

@section Scripts{
    <script src="~/js/users.js"></script>
}


