html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg") no-repeat center center fixed;
    /*Picture requirements for best fit:
    1. Resolution: 1920px / 1280px
    2. JPEG file format
    3. The file is compressed (you can use the COMPRES JPG tool)*/
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

#logo {
    width: 100px;
    height: 100px;
}

/*Make the body element fit within the screen nicely*/
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.padding {
    padding: 10%;
}

.top-nav-collapse {
    background-color: #24355C;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

@media (max-width: 768px) {
    .phoneSizeMargin {
        margin-left: auto;
    }
}

#index-caption:hover {
    background-color: darkorange;
    border-radius: 5px;
    color: royalblue;
}

#index-caption {
    background-color: none;
    color: deepskyblue;
    background-color: orange;
    font-size: 60px;
    font-weight: bold;
    border-radius: 5px;
    padding: 20px;
    line-height: normal;
}

.home-view-color {
    color: aqua;
}

#user-balance {
    margin: 10px;
    font-size: 20px;
    color: aqua;
}

#balance-section {
    color: lawngreen;
}

.login-form {
    width: 30%;
}

@media (max-width: 768px) {
    .index-page {
        margin-top: 50%;
    }
}

@media (max-width: 768px) {
    #navigation {
        overflow-y: scroll;
        max-height: 150px;
    }
}

#play-button {
    padding: 25%;
}

#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: deepskyblue; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

    #scrollToTopBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }
