html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg") no-repeat center center fixed;
    /*Picture requirements for best fit:
    1. Resolution: 1920px / 1280px
    2. JPEG file format
    3. The file is compressed (you can use the COMPRES JPG tool)*/
    background-size: cover;
}

#logo {
    width: 100px;
    height: 100px;
}

.navbar-collapse {
    float: left;
    width: 100%;
    clear: both;
}

#second-nav {
    margin-top: 124px;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("https://lh4.googleusercontent.com/proxy/NFEYF7mxUBcIrx2fwpzD52XXQ6r9RxtDFAbDL8lXpLAbQcDcMR0W6N5OSgZQ7ektHchqifHPk_eF9FapJ8K8XuvZCEzh0lI4LPvAej-E0-XZ5zjemjBCpfGFjB2GHS6rOGFi7duYxvHF=s0-d");
}

.top-nav-collapse {
    background-color: #24355C;
}

#second-nav.top-nav-collapse {
    margin-top: 110px;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}