@{
    ViewData["Title"] = "Home Page";
}

<!--Main layout-->
<main class="wow fadeIn slow index-page initially-hidden">
    <div class="container-fluid d-flex align-items-center justify-content-center" id="play-button">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-12">
                <!-- Heading -->
                <button id="index-caption" class="animated pulse infinite" href="#games">Play</button>
                <!-- Divider -->
                <hr class="hr-light">
                <!-- Description -->
                <h4 class="white-text my-4">A day without a game is a day wasted!</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <!--Section: Examples-->
        <section id="games" class="text-center">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-4 col-sm-12 mb-4 wow slideInLeft">
                    <div class="view overlay z-depth-1-half">
                        <img src="~/images/GameSlots.jpg" class="img-fluid" id="first-game-image">
                        <a asp-controller="Game" asp-action="GameOne" asp-route-gridSize="@GlobalConstants.GameOneGrid">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <h4 class="font-weight-bold font-italic game-heading">Slots 4 x 3</h4>
                    <p class="m-0 white-text font-italic">
                        "What is the point of being alive if you don't at least try to do something remarkable?"
                    </p>
                    <p class="white-text float-right">- John Green</p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 wow jackInTheBox">
                    <div class="view overlay z-depth-1-half">
                        <img src="~/images/GameSlots.jpg" class="img-fluid" id="second-game-image">
                        <a asp-controller="Game" asp-action="GameOne" asp-route-gridSize="@GlobalConstants.GameTwoGrid">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <h4 class="font-weight-bold font-italic game-heading">Slots 5 x 5</h4>
                    <p class="m-0 white-text font-italic">
                        “Only those who dare to fail greatly can ever achieve greatly.”
                    </p>
                    <p class="white-text float-right">- Robert F. Kennedy</p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 wow slideInUp">
                    <div class="view overlay z-depth-1-half">
                        <img src="~/images/GameSlots.jpg" class="img-fluid" id="third-game-image">
                        <a asp-controller="Game" asp-action="GameOne" asp-route-gridSize="@GlobalConstants.GameThreeGrid">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <h4 class="font-weight-bold font-italic game-heading">Slots 8 x 5</h4>
                    <p class="m-0 white-text font-italic">
                        “Don’t let yesterday take up too much of today.”
                    </p>
                    <p class="white-text float-right">– Will Rogers</p>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
    </div>
    <section id="for-partners"></section>
    <section id="links">
        <div class="container mb-5 wow fadeIn slow">
            <!--Grid row-->
            <div class="row py-2 d-flex align-items-center">
                <!--Grid column-->
                <div class="col-md-12 col-lg-12 text-center">
                    <!--Facebook-->
                    <a class="fb ic m-3"><i class="fa fa-facebook white-text fa-2x"></i></a>
                    <!--Twitter-->
                    <a class="tw ic m-3"><i class="fa fa-twitter white-text fa-2x"></i></a>
                    <!--Google +-->
                    <a class="gplus ic m-3"><i class="fa fa-google-plus white-text fa-2x"></i></a>
                    <!--Linkedin-->
                    <a class="li ic m-3"><i class="fa fa-linkedin white-text fa-2x"></i></a>
                    <!--Instagram-->
                    <a class="ins ic m-3"><i class="fa fa-instagram white-text fa-2x"></i></a>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            <hr class="my-3 white">
        </div>
    </section>

    <!--Section: Partners-->
    <section id="partners" class="text-center wow fadeIn slow">
        <div class="container text-white">
            <!--Grid row-->
            <div class="row flex-center">
                <div class="col-12 text-center">
                    <h5 class="text-center"><span class="aqua-gradient-rgba font-weight-bold p-1">Our Casino Games Supplied By</span></h5>
                </div>
                <img src="~/images/FakeLogos.png" alt="Fake Logos" />
            </div>
            <!--Grid row-->
            <hr class="my-3 white">
        </div>
    </section>

    <!--Section: Text-->
    <section id="text" class="text-center wow fadeIn slow">
        <div class="container text-white">
            <!--Grid row-->
            <div class="row">
                <div class="col-12">
                    <h5><span class="aqua-gradient-rgba font-weight-bold p-1">Online Casino at ItsAllAboutTheGame</span></h5>
                    <p class="text-center">Are you looking for exciting online casino games that let you enjoy the experience of casino from the comfort of your own home? If so, ItsAllAboutTheGame is the place for you. You can play the very best casino games with no download required. Log on to ItsAllAboutTheGame and pull up a virtual chair and play Live Slots with a full selection of high and low stakes to choose from. All of our live games bring you as close to the traditional casino as possible – without having to actually be there! Playing at ItsAllAboutTheGame is simple, because you just need to register and you are good to go.</p>
                    <h5><span class="aqua-gradient-rgba font-weight-bold p-1">Online Casino Games</span></h5>
                    <p>We offer a classic online casino experience that will make you feel like a high-roller every time you sign in. Indeed, no casino online would be complete without classic online slots. Our casino is at the cutting edge of live casino games. You’ll be close enough to the action that you’ll feel like you are actually there. We work with some of the best gaming developers in the online casino space, including Fake and Even More Fake. </p>
                    <h5><span class="aqua-gradient-rgba font-weight-bold p-1">Play Slots at ItsAllAboutTheGame</span></h5>
                    <p>Slots are by far the most popular casino games in the world. People love the thrill of placing their bets, pulling the handle, and watching the reels spin and stop. You can enjoy all of the heart-pumping action of slot machine gaming here at ItsAllAboutTheGame. No land-based casino would feel right without the jingle of the coins and the sounds of the bonus rounds - the experience would be incomplete. At 21.co.uk casino we have replicated the atmosphere and improved gaming quality by offering some of the most progressive slot games on the planet from cutting-edge gaming companies.</p>
                </div>
            </div>
            <!--Grid row-->
            <hr class="my-3 white">
        </div>
    </section>

    <!--Section: Supplied By-->
    <section id="payment-methods" class="text-center wow fadeIn slow">
        <div class="container text-white">
            <!--Grid row-->
            <div class="row">
                <div class="col-12 text-center">
                    <h5 class="text-center"><span class="aqua-gradient-rgba font-weight-bold p-1">Payment Methods</span></h5>
                </div>
                <img src="~/images/FakePayments.png" alt="Fake Payments" />
            </div>
            <!--Grid row-->
            <hr class="my-3 white">
        </div>
    </section>

</main>
<!--Main layout-->

@section Scripts {
    <script src="~/js/playbutton.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}