@{
    ViewData["Title"] = "Responsible Gambling";
}

<main class="wow fadeIn slow responsible-gambling-page text-white initially-hidden pl-4 pr-4">
    <div class="container">
        <!--Section: Gallery-->
        <section id="gallery">
            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center">Responsible Gambling</h2>
            <!--Grid row-->
            <div class="row">
                <div class="col-12">
                    <h5 class="aqua-gradient-rgba font-weight-bold p-1 text-center">Our Commitment</h5>
                    <p class="text-center">At ItsAllAboutTheGame we are committed to promoting responsible gambling. We want to provide an online gambling experience which is safe and enjoyable for all our players. The majority of online gamblers do so for fun, know their limits and gamble responsibly. However, we recognise that a small number of players struggle to control their gambling, and we have a commitment to protect this vulnerable minority. At ItsAllAboutTheGame we put the customer first and make available a range of advice and gambling control measures designed to help you manage your gambling, and to ensure that gambling remains a fun, safe leisure pursuit. This includes:</p>
                    <ul>
                        <li>Support groups & organisations</li>
                        <li>Self-assessment</li>
                        <li>Advice on keeping in control</li>
                        <li>Reality Check</li>
                        <li>Time-Out</li>
                        <li>Self-exclusion</li>
                        <li>Parental Controls</li>
                    </ul>
                    <h5 class="aqua-gradient-rgba font-weight-bold p-1 text-center">Support Groups and Organisations</h5>
                    <p>Customers experiencing gambling problems and others affected by problem gambling (including friends and family) should seek help. The following organisations are available to provide free and confidential advice on matters of problem gambling.</p>
                    <ul>
                        <li>GamCare</li>
                        <li>GambleAware</li>
                        <li>Gamblers Anonymous</li>
                    </ul>
                    <h5 class="aqua-gradient-rgba font-weight-bold p-1 text-center">Self Assessment</h5>
                    <p>If you are concerned about your gambling (or about someone else's) you can consider the following problem gambling self-assessment questions, to help you consider whether you (or someone else) may have a problem.</p>
                    <ul>
                        <li>Do you stay away from work or college to gamble?</li>
                        <li>Do you gamble to escape from a boring or unhappy life?</li>
                        <li>If you run out of money when you're gambling do you feel lost and in despair, and want to find money to gamble again as soon as possible?</li>
                        <li>After losing, do you feel you must try and win back your losses as soon as possible?</li>
                        <li>Have you lied, stolen or borrowed just to get money to gamble or pay gambling debts?</li>
                        <li>Do you gamble until your money runs out?</li>
                        <li>Have you ever lied to cover up the amount of money or time you have spent gambling?</li>
                        <li>Have you lost interest in your family, friends or hobbies because of your gambling?</li>
                        <li>Are you getting into debt because of your gambling?</li>
                        <li>Have others ever criticised your gambling?</li>
                        <li>Are you reluctant to spend 'gambling money' on anything else?</li>
                        <li>Do arguments, frustrations or disappointments make you want to gamble?</li>
                        <li>Do you feel depressed or even suicidal because of your gambling?</li>
                        <li>Have others ever criticised your gambling?</li>
                    </ul>
                    <p>
                        The more you or your friend/family member answers 'yes' to these questions, the more likely it is that you or they may have a gambling problem.
                        If you feel you have a gambling problem then we strongly advise you to tackle it as soon as possible. Admitting you have a problem is not a sign of weakness - it is the first step to reclaiming your life.
                    </p>
                    <h5 class="aqua-gradient-rgba font-weight-bold p-1 text-center">Advice on keeping in control</h5>
                    <p>We believe that gambling should always be an enjoyable leisure activity. Remembering these simple tips can help make sure your gambling doesn’t become a problem.</p>
                    <ul>
                        <li>Make sure you’re aware of the potential risk of problem gambling before you start</li>
                        <li>Play sensibly and never chase your losses.</li>
                        <li>Only gamble what you can afford to lose. Establish limits for purchasing, wagering and even losses before you start gambling and stick to them.</li>
                        <li>Set yourself a time limit before you start gambling and stick to it.</li>
                        <li>Don't let gambling interfere with your daily life; ensure you have completed all of your daily responsibilities before you start gambling.</li>
                        <li>Do not turn to gambling as an alternative source of income or as a way to recoup debt.</li>
                        <li>Do not gamble if you are in recovery for any dependency or if you are under the influence of alcohol or any other substance.</li>
                        <li>For information on how to gamble responsibly and on dealing with gambling problems please contact your Customer Support team.</li>
                    </ul>
                    <h5 class="aqua-gradient-rgba font-weight-bold p-1 text-center">Parental controls</h5>
                    <p>
                        It is illegal for someone who is under 18 years of age to play the games at ItsAllAboutTheGame. We put in place stringent measures to ensure that we do not allow any underage gambling.We carry out age verification checks on all customers and ask for documentary proof of age where checks are inconclusive. Customer accounts may be suspended and funds withheld until satisfactory proof of age is provided.
                    </p>
                </div>
            </div>
            <!--Grid row-->
        </section>
        <!--Section: Gallery-->
    </div>
</main>

@section Scripts {
    <script src="~/js/responsiblegambling.js"></script>
}
