@{
    ViewData["Title"] = "Access denied";
}

<main class="padding text-white">
    <div class="container-fluid d-flex align-items-center justify-content-center" id="play-button">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-12">
                <p>Якоооооо</p>
            </div>
        </div>
    </div>
    </main>
