@{
    ViewData["Title"] = "Access denied";
}

<main class="padding text-white">
    <div class="container-fluid d-flex align-items-center justify-content-center" id="access-denied">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-12">
                <h1 class="text-danger">Access Denied</h1>
                <hr class="my-3">
                <img src="~/images/Stop.png"/>
                <h4>You do not have permission to access this Area</h4>
            </div>
        </div>
    </div>
    </main>
