@{
    ViewData["Title"] = "Deleted";
}

<main class="padding text-white">
    <div class="container-fluid d-flex align-items-center justify-content-center" id="access-denied">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-md-12">
                <h1 class="text-danger">Account Suspended</h1>
                <hr class="my-3">
                <img src="~/images/Suspended.png" class="w-50 m-3"/>
                <h3>Your account has been suspended</h3>
                <h4>For any questions or problems, please, contact our free support</h4>
            </div>
        </div>
    </div>
</main>

