<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ItsAllAboutTheGame</title>
    <link runat="server" rel="shortcut icon" href="~/images/CardsLogoFavicon.png" type="image/x-icon" style="background-color: black" />
    <link runat="server" rel="icon" href="~/images/CardsLogoFavicon.png" type="image/ico" style="background-color: black" />
    <environment include="Development">
        <link href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/mdb/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/mdb/css/mdb.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/lib/mdb/font/roboto/Roboto-Regular.ttf">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

    </environment>
    <environment exclude="Development">
        <link href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/mdb/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css"
              asp-fallback-href="~/lib/mdb/css/mdb.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"
              asp-fallback-href="~/lib/mdb/font/roboto/Roboto-Regular.ttf"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/mdb/css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </environment>
</head>
<body>
    @*Fixed navbars use position: fixed, meaning they’re pulled from the normal flow of the DOM and may require custom CSS (e.g., padding-top on the ) to prevent overlap with other elements.*@
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="main-navbar">
        <div class="flex-md-column w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navigation"
                    aria-controls="top-navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse navbar-navsmooth-scroll" id="top-navigation">
                <ul class="navbar-nav w-100">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-light">
                            <div class="mask waves-effect waves-light">
                                <img id="logo" class="left img-fluid" src="~/images/CardsLogo.png" />
                            </div>
                        </a>
                    </li>
                    @if (ViewData["ShowLoginStatus"] == null)
                    {
                        <vc:login-status></vc:login-status>
                    }
                </ul>
            </div>
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse navbar-navsmooth-scroll" id="navigation">
                <!-- Links -->
                <ul class="navbar-nav w-100">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="ResponsibleGambling">Responsible Gambling</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index" asp-fragment="payment-methods">Payment Methods</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index" asp-fragment="for-partners">Partners</a>
                    </li>
                    @if (TempData["Admin"] != null && TempData["Admin"].ToString() == "True")
                    {
                        <li class="ml-auto nav-item dropleft">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-gear"></i>
                                <span class="clearfix d-none d-sm-inline-block">Admin Panel</span>
                            </a>
                            <div class="dropdown-menu">
                                <a asp-area="Administration" asp-controller="Users" asp-action="Index" class="dropdown-item"><i class="fa fa-user mr-2"></i>Manage Users</a>
                                <a asp-area="Administration" asp-controller="Transactions" asp-action="Index" class="dropdown-item"><i class="fa fa-credit-card mr-2"></i>Manage Transactions</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!--Mask-->
    <div id="intro" class="view">
        <div class="mask rgba-black-strong">
        </div>
    </div>
    <!--/.Mask-->
    
    <div>
        @RenderBody()

        <button id="scrollToTopBtn" title="Go to top">Top</button>@*onclick="topFunction()"*@
        <div class="medium loader fast" id="loading-spinner"></div>
        <hr />
        <!-- Footer -->
        <footer class="page-footer unique-color-dark">
            <!--Footer Links-->
            <div class="container mt-5 mb-4 text-center text-md-left">
                <div class="footer-copyright text-center py-3">
                    © @DateTime.Now.Year Copyright:
                    <a href="#"> ItsAllAboutTheGame.AzureWebsites.net</a>
                </div>
            </div>
            <!--/.Footer Links-->
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/mdb/js/jquery-3.3.1.min.js"></script>
        <script src="~/lib/mdb/js/popper.min.js"></script>
        <script src="~/lib/mdb/js/bootstrap.min.js"></script>
        <script src="~/lib/mdb/js/mdb.min.js"></script>
        @*<script src="~/lib/bootstrap/js/bootstrap.js"></script>*@
        <script src="~/js/site.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/mbd/js/jquery-3.3.1.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"
                asp-fallback-src="~/lib/mdb/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/mdb/js/popper.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/js/mdb.min.js"
                asp-fallback-src="~/lib/mdb/js/mdb.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    </environment>
    <script src="~/js/scrolltotop.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
